.about {
  background-color: $secondaryBgColor;
  margin-block-end: 15rem;
  color: $whiteColor;

  &__wrapper {
    padding: 5rem 0 6rem;
  }

  &__title,
  &__text {
    margin-block-end: 1.5rem;
  }

  &__images {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    padding-inline-start: 9rem;
    padding-block-end: 7rem;

    figure {
      font-size: 1.2rem;
      img {
        margin-block-end: 1rem;
      }
    }
  }
}