.about {
  background-color: $secondaryBgColor;
  margin-bottom: 150px;
  color: $whiteColor;

  &__wrapper {
    padding: 50px 0 60px;
    grid-template-columns: 370px auto;
  }

  &__title,
  &__text {
    margin-bottom: 15px;
  }

  &__images {
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding-left: 90px;
    padding-bottom: 70px;

    figure {
      font-size: 11px;
      img {
        margin-bottom: 10px;
      }
    }
  }
}