.feedback {
  &__slider {
    max-inline-size: 77rem;
  }

  &__item {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0 1.6rem;

    &-content {
      padding-block-start: 5.5rem;
      display: flex;
      flex-direction: column;
    }

    &-icon {
      margin-block-end: 1.2rem;

      img {
        inline-size: 2.5rem;
        block-size: 2.5rem;
      }
    }

    &-name {
      font-size: 1.6rem;
      font-family: "Yeseva One", serif;
      margin-block-end: 1.5rem;
    }

    &-text {
      margin-block-end: 2.5rem;
    }

    &-btn {
      text-align: right;
      margin-block-start: auto;
    }
  }
}