.footer {
  background-color: #fff;

  &__wrapper {
    padding-block: 4rem;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    max-inline-size: 23rem;
    inline-size: 100%;
  }

  &__social {
    display: flex;
    column-gap: 1.5rem;

    &-link {
      display: inline-block;
      transition: transform .3s;

      &:hover {
        transform: translateY(.3rem);
      }
    }
  }
}