html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $mainBgColor;
  color: $blackColor;
  font-family: "Comfortaa", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  // overflow: hidden;
}

main {
  overflow-x: clip;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.container {
  max-width: 1180px;
  padding-inline: 20px;
  margin: 0 auto;
}

.header__wrapper,
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps__item.reverse {
  .steps__item-text {
    order: 1;
  }
}

.courses__item-name,
.courses__item-time,
.courses__item-price {
  font-size: 11px;
  font-family: "Yeseva One", serif;
  color: $whiteColor;
  background-color: $numColor;
  position: absolute;
}

.about,
.products,
.steps,
.courses,
.team,
.feedback,
.certificate,
.promo,
.subscription,
.questions {
  margin-bottom: 150px;

  &__wrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
  }

  &__head {
    max-width: 370px;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    padding-bottom: 70px;

    &::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 33px;
      left: -22px;
      bottom: -11px;
      background-image: url("../images/about-deco.svg");
      background-position: center;
      background-repeat: no-repeat;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 1000%;
      height: 1px;
      background-color: $teachColor;
    }
  }
}

.feedback__wrapper,
.about__wrapper,
.certificate__wrapper,
.team__wrapper,
.questions__wrapper {
  grid-template-columns: 370px auto;
}

// sloder

.swiper-pagination-bullet {
  height: 4px;
  width: 53px;
  border-radius: 0;
  background-color: $numColor;
  opacity: 1;

  &.swiper-pagination-bullet-active {
    background-color: $teachColor;
  }
}

.feedback,
.certificate {
  &__slider {
    overflow: hidden;

    & .swiper-pagination {
      bottom: 45px;
      text-align-last: left;
    }
  }

  &__content {
    padding-bottom: 110px;
  }
}