.header {

  &__wrapper {
    padding-block: 4px;
  }

  &__phone {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background-image: url("../images/phone.svg");
      background-position: center;
      top: -2px;
      left: -21px;
      transition: transform .3s;
    }
  
    &:hover::before {
      transform: translateX(-3px);
    }
  }
}