.header {
  margin-block-end: 5rem;

  &__wrapper {
    padding-block: .4rem;
  }

  &__phone {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inline-size: 2rem;
      block-size: 2rem;
      background-image: url("../images/phone.svg");
      background-size: cover;
      background-position: center;
      top: -.2rem;
      left: -2.1rem;
      transition: transform .3s;
    }
  
    &:hover::before {
      transform: translateX(-.3rem);
    }
  }
}