.hero {
  margin-block-end: 15rem;

  &__wrapper {
    position: relative;
  }

  &__content {
    max-inline-size: 38.5rem;
    padding-block-start: 16.5rem;
    position: absolute;
    left: 0;
    top: 0;
  }

  &__title {
    font-size: 3rem;
    margin-block-end: 1.5rem;
  }

  &__text {
    margin-block-end: 5rem;
  }

  &__image {
    img {
      inline-size: 100%;
      transform: translate(19.5rem, 0);
    }
  }
}