@media (max-width: 1000px) {
  .header {
    margin-bottom: 0;
  }

  .hero {

    &__content {
      padding-top: 120px;
    }

    &__text {
      max-width: 300px;
    }

    &__image {
      img {
        width: 70%;
        transform: translate(300px, 30px);
      }
    }
  }

  .about {

    &__content {
      min-width: 300px;
    }

    &__images {
      padding-left: 0;
    }
  }

  .products {

    &__head {
      max-width: 300px;
      font-size: 10px;
    }

    &__content {
      justify-content: space-between;
    }
  }

  .steps {

    &__head {
      padding-right: 25px;
    }

    &__text {
      font-size: 14px;
    }
  }
}

@media (max-width: 940px) {
  .steps {

    &__head {
      max-width: 201px;
      padding-right: 13px;
    }

    &__title {
      font-size: 15px;
    }

    &__text {
      font-size: 10px;
    }

    &__item {

      &::before {
        font-size: 20px;
      }

      &-text {
        font-size: 8px;
        padding-bottom: 30px;
      }
    }
  }
}


@media (max-width: 900px) {
  .footer {

    &__wrapper {
      flex-wrap: wrap;
    }

    &__contacts {
      max-width: 100%;
      text-align: center;
      padding-block-start: 15px;
    }

    &__social {
      justify-content: center;
    }
  }

  
}

@media (max-width: 768px) {
  body {
    font-size: 10px;
  }

  .header {

    &__phone {
      &::before {
        width: 14px;
        height: 14px;
        left: -15px;
      }
    }
  }

  .container {
    padding-inline: 14px;
    max-width: 640px;
  }

  .hero {

    &__content {
      max-width: 304px;
    }

    &__title {
      font-size: 20px;
      margin-bottom: 20px;
    }

    &__text {
      margin-bottom: 20px;
      line-height: 1.5;
      max-width: 245px;
    }

    &__image {
      img {
        width: 100%;
        transform: translate(205px, 40px);
      }
    }
  }

  .about {

    &__wrapper {
      column-gap: 45px;
    }

    &__content {
      min-width: 200px;
    }

    &__title {
      font-size: 15px;
      margin-bottom: 20px;
    }

    &__text {
      font-size: 10px;
    }

    &__images {
      column-gap: 9px;

      figure {
        img {
          margin-bottom: 6px;
        }
      }

      figcaption {
        font-size: 6px;
      }

      &-item--1,
      &-item--3 {
        width: 119px;
      }

      &-item--2 {
        width: 188px;
      }
    }
  }

  .products {

    &__wrapper {
      column-gap: 30px;
    }

    &__title {
      font-size: 15px;
    }

    &__text {
      font-size: 10px;
    }

    &__head {
      max-width: 200px;
    }

    &__content {
      justify-content: space-between;
    }

    &__item {
      max-width: 188px;

      &-image {
        img {
          width: 100%;
        }
      }
    }
  }

  .steps {
    &__head {
      min-width: 201px;
    }

    &__item {
      column-gap: 20px;

      &-image {
        width: 85px;
      }
    }

    &__list {
      gap: 20px 25px;
    }
  }
}

@media (max-width: 640px) {
  .container {
    padding-inline: 10px;
  }

  .burger-menu-btn {
    display: flex;
  }

  .header {
    &__menu {
      //display: none;
      position: absolute;
      background-color: $teachColor;
      right: 0;
      top: 81px;
      font-size: 0;
      padding-inline: 0px;
      padding-block: 0px;
      color: $whiteColor;
      opacity: 0;
      z-index: 4;
      transform: translateX(100%);
      transition: transform .3s;

      &.menu--open {
        transform: translateX(0%);
        opacity: 1;
        padding-inline: 45px;
        padding-block: 25px;
        font-size: 14px;
      }

      &-list {
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 590px) {
  .products {
    margin-bottom: 60px;
  }
  .steps {
    margin-bottom: 60px;

    &__wrapper {
      flex-direction: column;
      align-items: center;
    }

    &__head {
      text-align: center;
      max-width: 300px;
      padding-right: 0;
      margin-bottom: 30px;
    }

    &__title {
      margin-bottom: 10px;
    }

    &__list {
      gap: 25px 40px;
    }

    &__content {

      &:before {
        left: 0;
      }
      &::after {
        left: 21px;
      }
    }
  }
}

@media (max-width: 500px) {
  .footer {

    &__wrapper {
      flex-direction: column;
      row-gap: 50px;
      padding-block: 50px;
      font-size: 14px;
    }

    &__menu {

      &-list {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

@media (max-width: 480px) {
  .hero {
    margin-bottom: 100px;

    &__content {
      max-width: 225px;
    }

    &__title {
      font-size: 15px;
    }

    &__text {
      max-width: 165px;
      font-size: 8px;
    }

    &__image {
      img {
        width: 70%;
        transform: translate(140px, 40px);
      }
    }
  }

  .button-buy {
    padding: 11px 23px;
    font-size: 10px;
  }

  .about {
    margin-bottom: 50px;

    &__wrapper {
      column-gap: 17px;
    }

    &__content {
      min-width: 170px;
    }

    &__images {
      align-items: flex-end;
      column-gap: 5px;
      padding-bottom: 50px;

      &-item--1,
      &-item--3 {
        width: 80px;
      }

      &-item--2 {
        width: 140px;
      }
    }

    figcaption {
      display: none;
    }
  }

  .products {
    margin-bottom: 60px;

    &__wrapper {
      flex-direction: column;
      text-align: center;
    }

    &__head {
      max-width: 300px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
    &__content {

      &:before {
        left: 0;
      }
      &::after {
        left: 21px;
      }
    }
  }

  .products {
    
    &__item {
      padding-bottom: 30px;

      &-image {
        margin-bottom: 6px;
      }
      &-price {
        margin-bottom: 7px;
      }
      &-title {
        margin-bottom: 9px;
      }
      &-description {
        margin-bottom: 18px;
      }
    }
  }
}

@media (max-width: 410px) {
  .steps {

    &__list {
      gap: 20px 25px;
    }

    &__item {
      column-gap: 15px;

      &-text {
        font-size: 6px;
        padding-bottom: 18px;
      }

      &-image {
        width: 66px;
      }

      &::before {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 360px) {
  .hero {
    margin-bottom: 50px;

    &__content {
      max-width: 203px;
      padding-top: 50px;
    }

    &__title {
      font-size: 18px;
      margin-bottom: 15px;
    }

    &__text {
      font-size: 10px;
      line-height: 1.1;
      margin-bottom: 15px;
      max-width: 190px;
    }

    &__image {
      img {
        width: 70%;
        transform: translate(180px, 20px);
      }
    }
  }

  .about {

    &__wrapper {
      padding: 25px 0 20px;
      column-gap: 25px;
    }

    &__content {
      min-width: 235px;
    }

    &__title {
      margin-bottom: 10px;
    }

    &__text {
      font-size: 8px;
      margin-bottom: 10px;
    }

    &__images {
      padding-bottom: 32px;
      align-items: center;

      &-item--1 {
        transform: translateY(10px);
      }

      &-item--2,
      &-item--3 {
        display: none;
      }
    }
  }

  .products {

    &__head {
      max-width: 235px;
      margin-bottom: 25px;
    }

    &__title {
      margin-bottom: 10px;
    }

    &__item {
      max-width: 140px;
      padding-inline: 0;

      &-image {
        margin-bottom: 5px;
      }
      &-price {
        margin-bottom: 5px;
        font-size: 10px;
      }
      &-title {
        margin-bottom: 7px;
        font-size: 10px;
      }
      &-description {
        margin-bottom: 15px;
        font-size: 6px;
      }
    }
  }

  .button-buy {
    font-size: 6px; 
  }
}