/* ==========================================================================
========================       MEDIA 1200px      ============================
===========================================================================*/

@media (max-width: 1200px) {
  .team {
    &__item {
      &-content {
        bottom: -20%;
      }
    }
  }
}

/* ==========================================================================
========================       MEDIA 1100px      ============================
===========================================================================*/

@media (max-width: 1100px) {
  .steps {
    &__list {
      gap: 50px 15px;
    }

    &__item {
      column-gap: 15px;
    }
  }
}

/* ==========================================================================
========================       MEDIA 1000px      ============================
===========================================================================*/

@media (max-width: 1000px) {

  .about__head,
  .team__head,
  .hero__text,
  .products__head,
  .courses__head,
  .steps__head {
    max-width: 300px;
  }

  .header {
    margin-bottom: 0;
  }

  .hero {
    &__content {
      padding-top: 120px;
    }

    &__image {
      img {
        width: 70%;
        transform: translate(300px, 30px);
      }
    }
  }

  .about {

    &__images {
      padding-left: 0;
    }
  }

  .products {
    &__head {
      font-size: 10px;
    }

    &__content {
      justify-content: space-between;
    }
  }

  .steps {
    &__head {
      padding-right: 25px;
    }

    &__text {
      font-size: 14px;
    }
  }

  .courses {
    &__content {
      gap: 30px;
    }
  }
}

/* ==========================================================================
=========================       MEDIA 940px      ============================
===========================================================================*/

@media (max-width: 940px) {

  .steps {
    &__head {
      max-width: 201px;
      padding-right: 13px;
    }

    &__title {
      font-size: 15px;
    }

    &__text {
      font-size: 10px;
    }

    &__item {

      &::before {
        font-size: 20px;
      }

      &-text {
        font-size: 8px;
        padding-bottom: 30px;
      }
    }
  }
}

/* ==========================================================================
=========================       MEDIA 900px      ============================
===========================================================================*/

@media (max-width: 900px) {

  .footer {
    &__wrapper {
      flex-wrap: wrap;
    }

    &__contacts {
      max-width: 100%;
      text-align: center;
      padding-block-start: 15px;
    }

    &__social {
      justify-content: center;
    }
  }
}

/* ==========================================================================
=========================       MEDIA 768px      ============================
===========================================================================*/

@media (max-width: 768px) {

  .hero__title,
  .header__text,
  .about__title {
    margin-bottom: 20px;
  }

  body,
  .about__text,
  .products__text,
  .courses__text,
  .courses__item-description,
  .team__text {
    font-size: 10px;
  }

  .hero__image,
  .products__item-image img,
  .courses__item-image img,
  .team__item-image img {
    width: 100%;
  }

  .about__content,
  .steps__head {
    min-width: 200px;
  }

  .about__title,
  .products__title,
  .courses__title,
  .team__title {
    font-size: 15px;
  }

  .about__head,
  .products__head,
  .courses__head,
  .team__head {
    max-width: 200px;
  }

  .courses__button,
  .courses__item-title {
    font-size: 12px;
  }

  .header {
    &__phone {
      &::before {
        width: 14px;
        height: 14px;
        left: -15px;
      }
    }
  }

  .container {
    padding-inline: 14px;
    max-width: 640px;
  }

  .hero {
    &__content {
      max-width: 304px;
    }

    &__title {
      font-size: 20px;
    }

    &__text {
      line-height: 1.5;
      max-width: 245px;
    }

    &__image {
      img {
        transform: translate(205px, 40px);
      }
    }
  }

  .about {
    &__wrapper {
      gap: 25px;
      grid-template-columns: auto auto;
    }

    &__images {
      column-gap: 9px;

      figure {
        img {
          margin-bottom: 6px;
        }
      }

      figcaption {
        font-size: 6px;
      }

      &-item--1,
      &-item--3 {
        width: 119px;
      }

      &-item--2 {
        width: 188px;
      }
    }
  }

  .products {
    &__content {
      justify-content: space-between;
    }

    &__item {
      max-width: 188px;
    }
  }

  .steps {
    &__item {
      column-gap: 20px;

      &-image {
        width: 85px;
      }
    }

    &__list {
      gap: 20px 25px;
    }
  }

  .courses {
    &__wrapper {
      gap: 0;
    }

    &__item {
      max-width: 190px;

      &-name {
        padding: 10px;
      }

      &-price {
        padding: 14px 14px 14px 10px;
      }
    }
  }

  .team {
    &__wrapper {
      gap: 8px;
    }

    &__item {
      max-width: 145px;

      &-content {
        padding: 10px 6px;
        max-width: 110px;
        right: -40%;
        bottom: -5%;
      }

      &-title {
        font-size: 8px;
      }

      &-description {
        font-size: 7px;
      }
    }
  }

  .courses__item-name,
  .courses__item-time,
  .courses__item-price  {
    font-size: 9px;
  }
}

/* ==========================================================================
=========================       MEDIA 640px      ============================
===========================================================================*/

@media (max-width: 640px) {

  .about,
  .products,
  .steps,
  .courses,
  .team,
  .feedback,
  .certificate {
    margin-bottom: 70px;
  }

  .about,
  .products,
  .steps,
  .courses {
    &__wrapper {
      grid-template-columns: 1fr;
    }

    &__head {
      max-width: 370px;
      text-align: center;
      margin: 0 auto;
    }
  }

  .about,
  .products,
  .steps,
  .courses {
    &__content {
      &::before {
        left: 0;
      }

      &::after {
        left: 21px;
      }
    }
  }
  
  .container {
    padding-inline: 10px;
  }

  .burger-menu-btn {
    display: flex;
  }

  .header {
    &__menu {
      //display: none;
      position: absolute;
      background-color: $teachColor;
      right: 0;
      top: 81px;
      font-size: 0;
      padding-inline: 0px;
      padding-block: 0px;
      color: $whiteColor;
      opacity: 0;
      z-index: 4;
      transform: translateX(100%);
      transition: transform .3s;

      &.menu--open {
        transform: translateX(0%);
        opacity: 1;
        padding-inline: 45px;
        padding-block: 25px;
        font-size: 14px;
      }

      &-list {
        flex-direction: column;
      }
    }
  }

  .products {
    &__content {
      gap: 40px 0;
    }
  }

  .team {
    &__item {
      &-content {
        padding: 10px 6px;
        max-width: 110px;
        right: 0;
        bottom: -20%;
      }
    }
  }
}

/* ==========================================================================
=========================       MEDIA 590px      ============================
===========================================================================*/

@media (max-width: 590px) {

  .products,
  .steps,
  .courses,
  .team {
    margin-bottom: 60px;
  }

  .steps__wrapper,
  .courses__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .steps__head,
  .courses__head {
    text-align: center;
    max-width: 300px;
  }

  .hero__content {
    padding-top: 60px;
  }

  .steps {
    &__head {
      padding-right: 0;
    }

    &__title {
      margin-bottom: 10px;
    }

    &__list {
      gap: 25px 40px;
    }
  }

  .courses {
    &__wrapper {
      gap: 30px;
    }
  }
}

/* ==========================================================================
=========================       MEDIA 500px      ============================
===========================================================================*/

@media (max-width: 500px) {

  .footer__wrapper,
  .footer__menu-list {
    flex-direction: column;
  }

  .footer {
    &__wrapper {
      row-gap: 50px;
      padding-block: 50px;
      font-size: 14px;
    }

    &__menu {
      &-list {
        align-items: center;
      }
    }
  }
}

/* ==========================================================================
=========================       MEDIA 480px      ============================
===========================================================================*/

@media (max-width: 480px) {

  .products__wrapper,
  .team__wrapper {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .products__wrapper,
  .team__head {
    text-align: center;
  }

  .products__head,
  .team__head {
    margin-bottom: 30px;
    max-width: 300px;
  }

  .hero {
    margin-bottom: 100px;

    &__content {
      max-width: 225px;
    }

    &__title {
      font-size: 15px;
    }

    &__text {
      max-width: 165px;
      font-size: 8px;
    }

    &__image {
      img {
        width: 70%;
        transform: translate(140px, 40px);
      }
    }
  }

  .button-buy {
    padding: 11px 23px;
    font-size: 10px;
  }

  .about {
    margin-bottom: 50px;

    &__wrapper {
      column-gap: 17px;
    }

    &__content {
      min-width: 170px;
    }

    &__images {
      align-items: flex-end;
      column-gap: 5px;
      padding-bottom: 50px;

      &-item--1,
      &-item--3 {
        width: 80px;
      }

      &-item--2 {
        width: 140px;
      }
    }
  }

  .products {
    margin-bottom: 60px;

    &__head {
      margin: 0 auto;
    }
    &__content {

      &:before {
        left: 0;
      }
      &::after {
        left: 21px;
      }
    }

    &__item {

      &-image {
        margin-bottom: 6px;
      }
      &-price {
        margin-bottom: 7px;
      }
      &-title {
        margin-bottom: 9px;
      }
      &-description {
        margin-bottom: 18px;
      }
    }
  }

  .team {
    &__wrapper {
      align-items: center;
    }

    &__head {
      margin: 0 auto;
    }

    &__content {
      gap: 30px;
    }

    &__item {

      &-content {
        bottom: 5%;
        right: -47%;
      }
    }
  }
}

/* ==========================================================================
=========================       MEDIA 475px      ============================
===========================================================================*/

@media (max-width: 475px) {

  .team {
    &__content {
      grid-template-columns: 1fr;
    }

    &__item {
      margin: 0 auto;
    }
  }
}

/* ==========================================================================
=========================       MEDIA 410px      ============================
===========================================================================*/

@media (max-width: 410px) {

  .steps {
    &__list {
      gap: 20px 25px;
    }

    &__item {
      column-gap: 15px;

      &-text {
        font-size: 6px;
        padding-bottom: 18px;
      }

      &-image {
        width: 66px;
      }

      &::before {
        font-size: 12px;
      }
    }
  }
}

/* ==========================================================================
=========================       MEDIA 360px      ============================
===========================================================================*/

@media (max-width: 360px) {

  .hero__title,
  .hero__text,
  .products__item-description {
    margin-bottom: 15px;
  }

  .hero__text,
  .products__item-price,
  .products__item-title {
    font-size: 10px;
  }

  .about__title,
  .about__text,
  .products__title {
    margin-bottom: 10px;
  }

  .products__item-image,
  .products__item-price {
    margin-bottom: 5px;
  }

  .products__item-description,
  .button-buy {
    font-size: 6px; 
  }

  .about__content,
  .products__head {
    max-width: 235px;
  }

  .hero {
    margin-bottom: 50px;

    &__content {
      max-width: 203px;
      padding-top: 50px;
    }

    &__title {
      font-size: 18px;
    }

    &__text {
      line-height: 1.1;
      max-width: 190px;
    }

    &__image {
      img {
        width: 70%;
        transform: translate(180px, 20px);
      }
    }
  }

  .about {
    &__wrapper {
      padding: 25px 0 20px;
      column-gap: 30px;
    }

    &__text {
      font-size: 8px;
    }

    &__content {
      justify-content: start;
    }

    &__images {
      padding-bottom: 32px;
      align-items: center;
    }
  }

  .products {
    &__head {
      margin-bottom: 25px;
    }

    &__item {
      max-width: 140px;
      padding-inline: 0;

      &-title {
        margin-bottom: 7px;
      }
    }
  }
}