.promo {
  background-image: url(../images/promo.webp);
  background-position: center center;
  background-size: cover;
  padding: 14.5rem 2rem;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
  }

  &__text {
    font-family: "Yeseva One" ,serif;
    font-size: 4rem;
    color: $whiteColor;
  }
}