.products {
  &__content {
    gap: 7rem 0;
  }
  
  &__item {
    max-inline-size: 30rem;
    padding-inline: .5rem;
    text-align: center;
    margin-inline: auto;
    display: grid;

    &-image {
      inline-size: 100%;
      margin-block-end: .8rem;

      img {
        inline-size: 100%;
      }
    }

    &-price {
      font-family: "Yeseva One", serif;
      font-size: 1.6rem;
      margin-block-end: 1.2rem;
    }

    &-title {
      font-family: "Yeseva One", serif;
      font-size: 1.6rem;
      margin-block-end: 1.6rem;
    }

    &-description {
      font-size: 1.2rem;
      margin-block-end: 2.7rem;
    }
  }
}