.steps {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7rem 2.5rem;
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    position: relative;
    counter-increment: number;

    &:nth-child(4n + 3),
    &:nth-child(4n + 4) {
      &::before ,
      &::before  {
        left: auto;
        right: 0;
      }
      
      & .steps__item-text {
        order: 1;
      }
    }
    
    &::before {
      content: "0" counter(number);
      position: absolute;
      left: 0;
      bottom: 0;
      font-size: 3rem;
      color: $numColor;
      font-family: "Yeseva One", serif;

    }

    &:nth-child(n + 10)::before {
      content: counter(number);
    }

    &-text {
      padding-block-end: 4rem;
      font-size: 1.2rem;
    }
  }
}