.steps {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px 25px;
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    position: relative;
    counter-increment: number;
    
    &::before {
      content: "0" counter(number);
      position: absolute;
      left: 0;
      bottom: 0;
      font-size: 30px;
      color: $numColor;
      font-family: "Yeseva One", serif;

    }

    &.reverse::before {
      left: auto;
      right: 0;
    }

    &:nth-child(n + 10)::before {
      content: counter(number);
    }

    &-text {
      padding-bottom: 40px;
      font-size: 12px;
    }
  }
}