$mainBgColor: #fff8f3;
$secondaryBgColor: #A5978E;
$blackColor: #000;
$whiteColor: #FAFAFA;
$btnBgColor: #f3b558;
$btnBgHoverColor: #f7b046;
$btnColor: #272727;
$numColor: #BEA495;
$teachColor: #7B6152;
$placeholderColor: #b3b3b3;