    <!-- SECTION ABOUT -->
     <section class="about" id="about">
      <div class="container">
        <div class="about__wrapper">
          <div class="about__head">
            <h2 class="about__title title">Про нас</h2>
            <p class="about__text">
              Богдан творець бренду який завжди зацікавлений у виготовленні різноманітних речей вдома. Він регулярно експериментував з різними матеріалами та інструментами, спробувавши свої сили у багатьох галузях, включаючи виготовлення свічок.
            </p>
            <p class="about__text">
              Ссоєвий віск виготовляють із соєвих бобів, що зрощуються в Данії, і цей вид воску є екологічно чистим та безпечним для здоров'я.
            </p>
          </div>
          <div class="about__content">
            <div class="about__images">
              <figure>
                <img class="about__images-item--1" src="./images/about-1.jpg" alt="Candle" />
                <figcaption>Насолоджуйтеся моментом</figcaption>
              </figure>
              <figure>
                <img class="about__images-item--2" src="./images/about-2.png" alt="Candle" />
                <figcaption>Створіть улюблену атмосферу</figcaption>
              </figure>
              <figure>
                <img class="about__images-item--3" src="./images/about-3.jpg" alt="Candle" />
                <figcaption>Виготовлені з любов'ю</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
     </section>