  <!-- SECTION CERTICATE -->
  <section class="certificate">
    <div class="container">
      <div class="certificate__wrapper">
        <div class="certificate__head">
          <h2 class="certificate__title title">Сертифікати якості</h2>
          <p class="certificate__text text">
            Сертифікати забезпечують додаткову довіру та впевненість для наших клієнтів.
          </p>
        </div>
        <div class="certificate__content">
          <div class="certificate__slider">
            <div class="swiper-wrapper">
              <!-- slide 1 -->
              <div class="swiper-slide"><img src="images/certificate-01.webp" alt="Certificare"></div>
              <!-- slide 2 -->
              <div class="swiper-slide"><img src="images/certificate-02.webp" alt="Certificare"></div>
              <!-- slide 3 -->
              <div class="swiper-slide"><img src="images/certificate-01.webp" alt="Certificare"></div>
              <!-- slide 4 -->
              <div class="swiper-slide"><img src="images/certificate-02.webp" alt="Certificare"></div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </section>        