    <!-- SECTION COURSES -->
    <section class="courses">
      <div class="container">
        <div class="courses__wrapper">
          <div class="courses__head">
            <h2 class="courses__title title">Наші курси</h2>
            <p class="courses__text text">
              Наші курси дозволяють зробити перший крок в новій кар'єрі або поглибити знання в своїй галузі, розвиватися як професіонал, а також покращити якість свого життя. 
            </p>
          </div>
          <div class="courses__content">
            <div class="courses__item">
              <div class="courses__item-image">
                <img src="../images/courses-01.jpg" alt="Photo of courses">
                <p class="courses__item-name">Основи виготовлення свічок</p>
                <p class="courses__item-time">Навчання - <span>20 год</span></p>
                <p class="courses__item-price">Ціна - 40$</p>
              </div>
              <!-- <p class="courses__item-price">10$</p> -->
              <h4 class="courses__item-title">Основи виготовлення свічок</h4>
              <p class="courses__item-description">
                Будем навчати основам виготовлення свічок з різних матеріалів.
              </p>
              <button class="courses__button button-buy">Купити курс</button>
            </div>
            <div class="courses__item">
              <div class="courses__item-image">
                <img src="../images/courses-02.jpg" alt="Photo of courses">
                <p class="courses__item-name">Основи виготовлення свічок</p>
                <p class="courses__item-time">Навчання - <span>20 год</span></p>
                <p class="courses__item-price">Ціна - 40$</p>
              </div>
              <!-- <p class="courses__item-price">20$</p> -->
              <h4 class="courses__item-title">Мистецтво ароматерапії</h4>
              <p class="courses__item-description">
                Будем  вивчати мистецтво ароматерапії та виготовлення свічок з різними ароматами.
              </p>
              <button class="courses__button button-buy">Купити курс</button>
            </div>
          </div>
        </div>
      </div>
     </section>        