    <!-- SECTION FEEDBACK -->
    <section class="feedback">
      <div class="container">
        <div class="feedback__wrapper">
          <div class="feedback__head">
            <h2 class="feedback__title title">Відгуки від клієнтів</h2>
            <p class="feedback__text text">
              Наші покупці мають різний вік, статус, заняття і інтереси, але у них є одна спільна риса - вони прагнуть до гармонії і знаходять радість у маленьких радощах життя, які створюють атмосферу затишку та гармонії у їхньому домі.
            </p>
          </div>
          <div class="feedback__content">
            <div class="feedback__slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="feedback__item">
                    <div class="feedback__image">
                      <img src="" alt="">
                    </div>
                    <div class="feedback__content">
                      <div class="feedback__icon"></div>
                      <p class="feedback__name">Іван Пилипенко</p>
                      <p class="feedback__text">
                        Я замовив свічку в формі сердечка на День Святого Валентина для моєї дівчини і вона була просто неймовірна! Запах був дуже приємним і романтичним, а форма сердечка була досконалою для цього свята. Моя дівчина була дуже задоволена подарунком, і я точно замовлю ще свічок від цього сайту!"
                      </p>
                      <div class="feedback__btn"><button class="courses__button button-buy">Купити цей товар</button></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
     </section>        