  </main>

  <!-- SECTION FOOTER -->
  <footer class="footer" id="footer">
    <div class="container">
      <div class="footer__wrapper">
        <a href="#" class="logo"><img class="logo__image" src="../images/logo-footer.png" alt="HM Candles"></a>
        <nav class="menu footer__menu">
          <ul class="menu__list footer__menu-list">
            <li class="menu__item"><a href="#about" class="menu__link">Про нас</a></li>
            <li class="menu__item"><a href="#products" class="menu__link">Каталог</a></li>
            <li class="menu__item"><a href="#team" class="menu__link">Команда</a></li>
            <li class="menu__item"><a href="#feedback" class="menu__link">Відгуки</a></li>
            <li class="menu__item"><a href="#courses" class="menu__link">Курси</a></li>
            <li class="menu__item"><a href="#footer" class="menu__link">Контакти</a></li>
          </ul>
        </nav>
        <div class="footer__contacts">
          <a href="tel:+4565789876" class="phone">+45 65 78 98 76</a>
          <a href="mailto:candelsCandels@gmail.com" class="mail">candelsCandels@gmail.com</a>
          <ul class="footer__social">
            <li class="footer__social-item">
              <a href="#" class="footer__social-link">
                <img src="../images/facebook-logo.svg" alt="fecebook logo">
              </a>
            </li>
            <li class="footer__social-item">
              <a href="#" class="footer__social-link">
                <img src="../images/instagram-logo.svg" alt="instagram logo">
              </a>
            </li>
            <li class="footer__social-item">
              <a href="#" class="footer__social-link">
                <img src="../images/linkedin-logo.svg" alt="linkedin logo">
              </a>
            </li>
            <li class="footer__social-item">
              <a href="#" class="footer__social-link">
                <img src="../images/youtube-logo.svg" alt="youtube logo">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="js/main.min.js"></script>
</body>
</html>