    
  <!-- SECTION HERO -->
  <section class="hero">
    <div class="container">
      <div class="hero__wrapper">
        <div class="hero__content">
          <h3 class="hero__title title">Створіть атмосферу затишку та гармонії!</h3>
          <p class="hero__text">Створіть особливу атмосферу у своєму домі з нашою екологічно чистою та якісною продукцією зі 100% натуральної соєвого воску.</p>
          <button class="button-buy">Купити</button>
        </div>
        <div class="hero__image">
          <picture>
            <source srcset="./images/hero-image-medium.webp" media="(max-width: 480px)">
            <source srcset="./images/hero-image-small.webp" media="(max-width: 360px)">
            <img src="./images/hero-image-large.webp" alt="Collage with some picture">
          </picture>
        </div>
      </div>
    </div>
  </section>