    <!-- SECTION PRODUCTS -->
     <section class="products" id="products">
      <div class="container">
        <div class="products__wrapper">
          <div class="products__head">
            <h2 class="products__title title">Наші товари</h2>
            <p class="products__text text">
              Ми використовуємо тільки найкращі якісні матеріали: соєвий віск, віскові барвники, високоякісні ароматичні олії та бавовняні фітільці. Відтінки свічок дуже гармонійно поєднуються з ароматом, створюючи незабутню атмосферу у вашому домі.
            </p>
          </div>
          <div class="products__content">
            <div class="products__item">
              <div class="products__item-image">
                <img src="../images/product-1.jpg" alt="Photo of product">
              </div>
              <p class="products__item-price">10$</p>
              <h4 class="products__item-title">"Сердечко кохання"</h4>
              <p class="products__item-description">
                Запах: ніжний аромат троянди та ванілі. 
                Для чого: для атмосфери романтичного настрою
              </p>
              <button class="button-buy">Купити</button>
            </div>
            <div class="products__item">
              <div class="products__item-image">
                <img src="../images/product-2.jpg" alt="Photo of product">
              </div>
              <p class="products__item-price">20$</p>
              <h4 class="products__item-title">"Вихір кохання"</h4>
              <p class="products__item-description">
                Запах: ніжний аромат лаванди. 
                Для чого: для створення атмосфери затишку 
              </p>
              <button class="button-buy">Купити</button>
            </div>
            <div class="products__item">
              <div class="products__item-image">
                <img src="../images/product-3.jpg" alt="Photo of product">
              </div>
              <p class="products__item-price">10$</p>
              <h4 class="products__item-title">"Веселка"</h4>
              <p class="products__item-description">
                Запах: Свіжий аромат лайма. 
                Для чого: для енергії та свіжості в приміщені.
              </p>
              <button class="button-buy">Купити</button>
            </div>
            <div class="products__item">
              <div class="products__item-image">
                <img src="../images/product-4.jpg" alt="Photo of product">
              </div>
              <p class="products__item-price">10$</p>
              <h4 class="products__item-title">"Жіноча чарівність"</h4>
              <p class="products__item-description">
                Запах: ніжний аромат лаванди та фрезій. 
                Для чого: для затишку та комфорту.
              </p>
              <button class="button-buy">Купити</button>
            </div>
          </div>
        </div>
      </div>
     </section>        