  <!-- SECTION QUESTIONS -->
  <section class="questions">
    <div class="container">
      <div class="questions__wrapper">
        <div class="questions__head">
          <h2 class="courses__title title">Часті запитання</h2>
        </div>
        <div class="questions__content">
          <div class="questions__item">
            <div class="accordeon">
              <!-- item 1-->
              <div class="accordeon__item">
                <h5 class="accordeon__title">Які запахи доступні для свічок?</h5>
                <div class="accordeon__text">
                  <ol class="accordeon__list">
                    <li>Ваніль - теплий, сладкий і затишний аромат, який нагадує про домашній затишок.</li>
                    <li>Лаванда - приємний, успокійливий і релаксуючий запах, який допомагає зняти стрес і напругу.</li>
                    <li>Рожевий грейпфрут - свіжий, фруктовий і енергійний аромат, який допомагає підняти настрій і збадьорити.</li>
                    <li>Кедр - деревний, земний і маскулінний аромат, який надає відчуття стабільності і надійності.</li>
                    <li>Яблуко і кориця - теплий і затишний аромат, який нагадує про зимові свята і домашність.</li>
                  </ol>
                </div>
              </div>
              <!-- item 2-->
              <div class="accordeon__item">
                <h5 class="accordeon__title">Як довго горять свічки?</h5>
                <div class="accordeon__text">
                  <ol class="accordeon__list">
                    <li>Ваніль - теплий, сладкий і затишний аромат, який нагадує про домашній затишок.</li>
                    <li>Лаванда - приємний, успокійливий і релаксуючий запах, який допомагає зняти стрес і напругу.</li>
                    <li>Рожевий грейпфрут - свіжий, фруктовий і енергійний аромат, який допомагає підняти настрій і збадьорити.</li>
                    <li>Кедр - деревний, земний і маскулінний аромат, який надає відчуття стабільності і надійності.</li>
                    <li>Яблуко і кориця - теплий і затишний аромат, який нагадує про зимові свята і домашність.</li>
                  </ol>
                </div>
              </div>
              <!-- item 3-->
              <div class="accordeon__item">
                <h5 class="accordeon__title">Чи можна зробити замовлення на індивідуальний дизайн свічки?</h5>
                <div class="accordeon__text">
                  <ol class="accordeon__list">
                    <li>Ваніль - теплий, сладкий і затишний аромат, який нагадує про домашній затишок.</li>
                    <li>Лаванда - приємний, успокійливий і релаксуючий запах, який допомагає зняти стрес і напругу.</li>
                    <li>Рожевий грейпфрут - свіжий, фруктовий і енергійний аромат, який допомагає підняти настрій і збадьорити.</li>
                    <li>Кедр - деревний, земний і маскулінний аромат, який надає відчуття стабільності і надійності.</li>
                    <li>Яблуко і кориця - теплий і затишний аромат, який нагадує про зимові свята і домашність.</li>
                  </ol>
                </div>
              </div>
              <!-- item 4-->
              <div class="accordeon__item">
                <h5 class="accordeon__title">Які є варіанти доставки?</h5>
                <div class="accordeon__text">
                  <ol class="accordeon__list">
                    <li>Ваніль - теплий, сладкий і затишний аромат, який нагадує про домашній затишок.</li>
                    <li>Лаванда - приємний, успокійливий і релаксуючий запах, який допомагає зняти стрес і напругу.</li>
                    <li>Рожевий грейпфрут - свіжий, фруктовий і енергійний аромат, який допомагає підняти настрій і збадьорити.</li>
                    <li>Кедр - деревний, земний і маскулінний аромат, який надає відчуття стабільності і надійності.</li>
                    <li>Яблуко і кориця - теплий і затишний аромат, який нагадує про зимові свята і домашність.</li>
                  </ol>
                </div>
              </div>
              <!-- item 5-->
              <div class="accordeon__item">
                <h5 class="accordeon__title">Як оплачувати замовлення?</h5>
                <div class="accordeon__text">
                  <ol class="accordeon__list">
                    <li>Ваніль - теплий, сладкий і затишний аромат, який нагадує про домашній затишок.</li>
                    <li>Лаванда - приємний, успокійливий і релаксуючий запах, який допомагає зняти стрес і напругу.</li>
                    <li>Рожевий грейпфрут - свіжий, фруктовий і енергійний аромат, який допомагає підняти настрій і збадьорити.</li>
                    <li>Кедр - деревний, земний і маскулінний аромат, який надає відчуття стабільності і надійності.</li>
                    <li>Яблуко і кориця - теплий і затишний аромат, який нагадує про зимові свята і домашність.</li>
                  </ol>
                </div>
              </div>
              <!-- item 6-->
              <div class="accordeon__item">
                <h5 class="accordeon__title">Як довго триває курс?</h5>
                <div class="accordeon__text">
                  <ol class="accordeon__list">
                    <li>Ваніль - теплий, сладкий і затишний аромат, який нагадує про домашній затишок.</li>
                    <li>Лаванда - приємний, успокійливий і релаксуючий запах, який допомагає зняти стрес і напругу.</li>
                    <li>Рожевий грейпфрут - свіжий, фруктовий і енергійний аромат, який допомагає підняти настрій і збадьорити.</li>
                    <li>Кедр - деревний, земний і маскулінний аромат, який надає відчуття стабільності і надійності.</li>
                    <li>Яблуко і кориця - теплий і затишний аромат, який нагадує про зимові свята і домашність.</li>
                  </ol>
                </div>
              </div>
              <!-- item 7-->
              <div class="accordeon__item">
                <h5 class="accordeon__title">Яка ціна на курс?</h5>
                <div class="accordeon__text">
                  <ol class="accordeon__list">
                    <li>Ваніль - теплий, сладкий і затишний аромат, який нагадує про домашній затишок.</li>
                    <li>Лаванда - приємний, успокійливий і релаксуючий запах, який допомагає зняти стрес і напругу.</li>
                    <li>Рожевий грейпфрут - свіжий, фруктовий і енергійний аромат, який допомагає підняти настрій і збадьорити.</li>
                    <li>Кедр - деревний, земний і маскулінний аромат, який надає відчуття стабільності і надійності.</li>
                    <li>Яблуко і кориця - теплий і затишний аромат, який нагадує про зимові свята і домашність.</li>
                  </ol>
                </div>
              </div>
              <!-- item 8-->
              <div class="accordeon__item">
                <h5 class="accordeon__title">Чи є сертифікат на курс?</h5>
                <div class="accordeon__text">
                  <ol class="accordeon__list">
                    <li>Ваніль - теплий, сладкий і затишний аромат, який нагадує про домашній затишок.</li>
                    <li>Лаванда - приємний, успокійливий і релаксуючий запах, який допомагає зняти стрес і напругу.</li>
                    <li>Рожевий грейпфрут - свіжий, фруктовий і енергійний аромат, який допомагає підняти настрій і збадьорити.</li>
                    <li>Кедр - деревний, земний і маскулінний аромат, який надає відчуття стабільності і надійності.</li>
                    <li>Яблуко і кориця - теплий і затишний аромат, який нагадує про зимові свята і домашність.</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>        