  <!-- SECTION SUBSCRIPTION -->
  <section class="subscription">
    <div class="container">
      <div class="subscription__wrapper">
        <form action="#" class="subscription__form form">
          <h4 class="form__title">Підпишись на наші акції</h4>
          <input class="form__name" type="text" placeholder="Імя" required>
          <input class="form__email" type="email" placeholder="Е-mail" required>
          <button class="form__btn button-buy">Підписатись</button>
        </form>
        <div class="subscription__image">
          <img src="images/subscription.webp" alt="Photo of candle">
        </div>
      </div>
    </div>
  </section>