    <!-- SECTION TEAM -->
    <section class="team" id="team">
      <div class="container">
        <div class="team__wrapper">
          <div class="team__head">
            <h2 class="team__title title">Наші викладачі</h2>
            <p class="team__text text">
              Ці люди працюють разом, щоб створювати курси для вас, які допоможуть вам почати власний бізнес або хоббі.
            </p>
          </div>
          <div class="team__content">
            <div class="team__item">
              <div class="team__item-image">
                <img src="./images/team-01.jpg" alt="Photo of team">
              </div>
              <div class="team__item-content">
                <h4 class="team__item-title">Викладач Богдан</h4>
                <p class="team__item-description">
                  Має досвід викладання і роботи 4 роки
                </p>
              </div>
            </div>
            <div class="team__item">
              <div class="team__item-image">
                <img src="./images/team-02.jpg" alt="Photo of team">
              </div>
              <div class="team__item-content">
                <h4 class="team__item-title">Викладач  Анна</h4>
                <p class="team__item-description">
                  Має досвід викладання і роботи 6 років
                </p>
              </div>
            </div>
            <div class="team__item">
              <div class="team__item-image">
                <img src="./images/team-03.jpg" alt="Photo of team">
              </div>
              <div class="team__item-content">
                <h4 class="team__item-title">Викладач  Галина</h4>
                <p class="team__item-description">
                  Навчає сфері дизайну та декорування
                </p>
              </div>
            </div>
            <div class="team__item">
              <div class="team__item-image">
                <img src="./images/team-04.jpg" alt="Photo of team">
              </div>
              <div class="team__item-content">
                <h4 class="team__item-title">Маркетолог  Ольга</h4>
                <p class="team__item-description">
                  Допоможе вам з рекламою
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
     </section>        